<!DOCTYPE html>
{% extends 'home.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block Heading %}
Monitor Attendance
{% endblock %}

{% block reusedTemplate %}
<br><br><br><br>
    <table class="Table" border="2px">
        <thead style="background: #3498DD; color: #ffffff">
        <th>Date</th><th> Name </th><th> Time-In</th><th> Time-out</th> <th>Overtime-hrs</th>
        </thead>
    {% if records %}
    {% for record in records %}
        <tr>
        {% if record %}
        {% for value in record %}
            <td>{{ value}}</td>
        {% endfor %}
         {% endif %}
        </tr>

    {% endfor %}
    {% endif %}
    </table>
{% endblock %}
</body>
</html>