<!DOCTYPE html>
{% extends 'home.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block Heading %}
Staff Directory
{% endblock %}
{% block reusedTemplate %}
<br><br><br><br><br>
<table  class="Table" border="2px">
    <thead style="background: #3498DD; color: #ffffff">
        {% for l in labels %}
        <th>{{ l }} </th>
        {% endfor %}

    </thead>
{% if records %}
    {% for record in records %}
        <tr>
            {% if record %}
            {% for field in record %}
                <td>{{ field }}</td>
            {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>